// font-family: 'Itim', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Quattrocento Sans', sans-serif;
// font-family: 'Tilt Neon', cursive;

$bg-color: rgb(199, 252, 252);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $bg-color;
  height: 100%;
  font-family: 'Tilt Neon', cursive;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }



}
